/* Fonts */

@font-face {
    font-family: 'Parisine';
    font-weight: normal;
    src: url('../fonts/Parisine-Regular.otf');
}

@font-face {
    font-family: 'Parisine';
    font-weight: bold;
    src: url('../fonts/Parisine Bold.ttf');
}

@font-face {
    font-family: 'Achemine';
    font-weight: bold;
    src: url('../fonts/achemine/achemine_bold.ttf');
}

@font-face {
    font-family: 'Achemine';
    font-weight: normal;
    src: url('../fonts/achemine/achemine_regular.ttf');
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 3s infinite;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: #ef8101;
    border-radius: 50%;
}

.dot.active {
    animation: dot 3s steps(1, start) infinite;
}

.dot.unactive {
    background-color: #3d3d3d;
}

@keyframes dot {
    0%, 100% {
        background-color: #ef8101;
    }
    50% {
        background-color: #3D3D3DFF;
    }
}


body {
    background: #f6f6f6;
    font-family: 'Parisine', sans-serif;
}

body.sncf {
    font-family: 'Achemine', sans-serif !important;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu > * {
    display: flex;
    padding: .5rem 0;
    align-items: center;
}

.menu > * > * {
    margin-bottom: 0;
    margin-top: 0;
}

/* Text */

/* Generic heading styles */
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0em;
}

p.big {
    font-size: 22px;
}

.center {
    text-align: center;
}

h1.big {
    font-size: 50px;
}

.horaires {
    display: flex;
    flex-direction: column;
}

h3.direction {
    margin: .4rem 0 0 0;
}

.big-text {
    font-size: 40px
}

.ultra-text {
    font-size: 60px
}

/* SVG */

@media screen {
    .dark-mode .tn-svg-line--TRAM_T13 {
        fill: #8d5e2a;
    }

    .svg-line-number--white {
        fill: #000;
    }
}

@media screen {
    .tn-svg-line--RER_A {
        fill: #e3051c;
    }

    .tn-svg-line--RER_B {
        fill: #5291ce;
    }

    .dark-mode .tn-svg-line--LIGNE_L {
        fill: #ceadd2;
    }

    .dark-mode .tn-svg-line--LIGNE_J {
        fill: #d5c900;
    }
}

/* InfoStation — Ecran */

.logoLigne {
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 8px;
}

.logoLigne > img {
    height: 40px;
}


.sncf > #horaires > .horaire-row {
    padding: .25rem 0;
}

.horaire-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 140px;
}

#horaires1,
#horaires2 {
    width: 47vw;
}

.horaire-row > * > * {
    margin: 0;
}

.dest,
#destination2 {
    font-size: 45px;
}

.heure,
#heure2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mission,
#mission2 {
    color: #2f2f2f;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.horaire-sub {
    display: flex;
}

.quai {
    color: #2f2f2f;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

#stationSearchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    color: #fff;
    background: #050d9e;
    border-radius: 11px;
    z-index: 999 !important;
    margin-right: 16px;
    overflow: hidden;
}

#stationSearchResults.tram {
    background: #25303B;
}

#stationSearchResults.sncf {
    background: #171934;
}

#stationSearchResults.sncf li:hover {
    background: #1c1e3f;
}

#stationSearchResults li {
    padding: 8px;
    cursor: pointer;
    z-index: 1000 !important;
}

#stationSearchResults li:hover {
    background-color: #2229ac;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    z-index: 999;
}

#stationSearchResults.tram li:hover {
    background: #293a4d;
}


#stationSearch {
    background-color: white;
    padding: 0.5rem 1rem;
    border: 2px solid lightgrey;
    border-radius: 9px;
    margin-right: 8px;
}

#horaires > h3 {
    display: none !important;
}

#horaires {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/* Info Trafic */
.info-trafic {
    width: 100vw;
    background: #5446463b;
    margin: 0;
    border-top: 5px solid #ff0000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: flex-start;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    position: fixed;
    bottom: 0;
    flex-wrap: nowrap;
    align-content: center;
    z-index: 899;
}

.info-trafic.ok {
    background: #4654473b;
    border-top: 5px solid #009726;
}

.info-trafic.danger {
    background: #5451463b;
    border-top: 5px solid #db6300;
}


/* Page d'accueil */


.tile-row {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 40px 18px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.tile-row:last-child {
    margin-bottom: 5rem;
}

.tile-line {
    width: 250px;
    background: #e5e5e5;
    padding: 2rem 1.2rem;
    height: 280px;
    border-radius: 2rem;
    box-shadow: 0 0 0.75rem #00000029;
    transition: all 1s ease-in-out;
    position: relative;
    /*margin: 0 1.45rem;*/
}

.tile-line a,
.tile-line.tile-tram {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.tile-line:after {
    content: "";
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: red;
}

.tile-line:hover {
    transform: scale(1.04);
    box-shadow: 0 0 2rem #00000029;
}

.line-logo {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.unactive {
    background-color: #ffd0d0;
}

span.big-text.blink {
    z-index: 2 !important;
}

a {
    text-decoration: none;
    color: #000;
}

.now {
    position: fixed;
    bottom: -46.5px;
    right: 10%;
    padding: 10px 20px;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(19, 19, 19, 0.16);
    border-radius: 20px 20px 0 0;
    font-family: 'Parisine', sans-serif !important;
    font-size: xx-large;
    font-weight: 400;
    transition: all 1s;
}

.now.show {
    transition: all 1s;
    bottom: 0;
    right: 10%;
    background: rgba(19, 19, 19, 0.16) !important;
}

.now > span {
    font-size: 20px;
    color: #2f2f2f;
    font-weight: normal;

}

.configPanel {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5px;
    right: -201px;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    transition: all 1s;
    border: 1px solid rgba(19, 19, 19, 0.16);
}

.configPanel.showConfig {
    right: 0 !important;
    transition: all 1s;
    background: rgba(19, 19, 19, 0.16);
}

.configSwitch {
    width: 5px;
    padding: 15px 2px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-right: 1px solid #000;
}

/* Darkmode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background: #101010 !important;
        color: #f6f6f6 !important;
    }

    .mission {
        color: #c2c2c2 !important;
    }

    .quai {
        color: #c2c2c2 !important;
    }

    .svgmode__fg {
        fill: #fff !important;
    }

    .svg-line-number--white {
        fill: white !important;
    }

    .tile-line {
        background: #343434 !important;
    }

    a {
        text-decoration: none;
        color: #e5e5e5 !important;
    }

    .unactive {
        background-color: #5b2525 !important;
    }

    .configPanel.showConfig, .now.show {
        background: rgba(241, 241, 241, 0.16) !important;
        border: 1px solid rgba(241, 241, 241, 0.16) !important;
    }

    .configPanel {
        border: 1px solid rgba(241, 241, 241, 0.16);
    }

    .now {
        border: 1px solid rgba(241, 241, 241, 0.16) !important;
    }

    .now > span {
        color: #b7b7b7;
    }
}